<div class="grid grid-cols-6 grid-rows-5 w-screen h-screen">
  <div class="row-span-6 col-span-1 bg-red-200">
    <BlockBar @blocks={{@model.blocks}} />
  </div>
  <div class="row-span-6 col-span-2 bg-blue-200">
  </div>
  <div class="row-span-3 col-span-3 bg-green-200">
  </div>
  <div class="row-start-4 row-span-2 col-start-4 col-span-3 bg-yellow-200">
  </div>
</div>