{
  "openapi": "3.1.1",
  "info": {
    "title": "Arson.dev Blog",
    "summary": "API for Arson.dev Blog",
    "contact": {
      "name": "Tathya",
      "email": "coding.tathya@gmail.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://blog.arson.dev/api",
      "description": "Production server"
    }
  ],
  "components": {
    "schemas": {
      "RequestPost": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          }
        }
      },
      "Post": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestPost"
          },
          {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "format": "%Y-%m-%dT%H:%M:%SZ"
              },
              "id": {
                "type": "number"
              }
            }
          }
        ]
      }
    }
  },
  "paths": {
    "/posts": {
      "summary": "Get or create a blog post",
      "get": {
        "summary": "Get post data by slug",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "description": "The slug of the post to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog post data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new blog post",
        "requestBody": {
          "required": true,
          "description": "Blog post data",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestPost"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "passphrase": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        }
      }
    }
  }
}
