{
  "openapi": "3.1.1",
  "info": {
    "title": "Arson.dev Blog",
    "summary": "API for Arson.dev Blog",
    "contact": {
      "name": "Tathya",
      "email": "coding.tathya@gmail.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://blog.arson.dev/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:5173/api",
      "description": "Development server"
    }
  ],
  "components": {
    "schemas": {
      "RequestPost": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          }
        },
        "required": [
          "title",
          "content",
          "slug",
          "excerpt"
        ]
      },
      "Post": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RequestPost"
          },
          {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "format": "%Y-%m-%dT%H:%M:%SZ"
              },
              "id": {
                "type": "number"
              }
            }
          }
        ]
      },
      "Tag": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "color"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "posts",
      "description": "Operations related to blog posts"
    },
    {
      "name": "tags",
      "description": "Operations related to tags"
    }
  ],
  "paths": {
    "/posts": {
      "summary": "Get or create a blog post",
      "get": {
        "summary": "Get post data by slug",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "description": "The slug of the post to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog post data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new blog post",
        "tags": [
          "posts"
        ],
        "requestBody": {
          "required": true,
          "description": "Blog post data",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestPost"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "passphrase": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Blog post created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "summary": "Tag operations",
      "get": {
        "summary": "Get posts by tag name",
        "tags": [
          "tags"
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "The name of the tag to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new tag",
        "tags": [
          "tags"
        ],
        "requestBody": {
          "required": true,
          "description": "Tag data",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "passphrase": {
                    "type": "string",
                    "description": "Passphrase for tag creation"
                  }
                },
                "required": [
                  "name",
                  "color",
                  "passphrase"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
