#articles {
  width: 75%;
}

.article {
  width: 100%;
  color: var(--text);
  text-decoration: none;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--text);
}

.article img {
  max-width: 25%;
  margin: 0.5em 0;
}

.article h2 {
  margin: 0.5em 0 0 0;
  font-size: 1.75em;
  color: var(--blue);
}

.article p {
  margin: 0.5em 0 1em 0;
}

hr {
  margin: 1em 0;
}
