#publish-form {
  display: flex;
  flex-direction: column;

  width: 50%;
}

#publish-form > input, #publish-form > select {
  margin: 0 0 1em 0;
  padding: 0.5em;
  background-color: var(--base);
  color: var(--text);
  border: none;
  font-family: var(--font);
}

#publish-form > input[type="submit"] {
  background-color: rgb(from var(--blue) r g b / 0.9);
  color: var(--text);
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
}
