:root {
  --light-crust: #dce0e8;
  --light-mantle: #e6e9ef;
  --light-base: #eff1f5;
  --light-surface0: #ccd0da;
  --light-surface1: #bcc0cc;
  --light-surface2: #acb0be;
  --light-text: #4c4f69;
  --light-blue: #1e66f5;
  --light-sapphire: #209fb5;

  --dark-crust: #181926;
  --dark-mantle: #1e2030;
  --dark-base: #24273a;
  --dark-surface0: #363a4f;
  --dark-surface1: #494d64;
  --dark-surface2: #5b6078;
  --dark-text: #cad3f5;
  --dark-blue: #8aadf4;
  --dark-sapphire: #7dc4e4;
}

body {
  background-color: var(--base);
  color: var(--text);

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}

h1:not(.has-margin) {
  margin: 0;
}

#navbar {
  background-color: var(--mantle);

  width: 100%;
  display: flex;

  position: sticky;
  top: 0;

  z-index: 1000;
}

main {
  height: 100%;
  width: 100%;
  margin: 1% auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card {
  width: 80%;
  margin: 1% auto;

  background-color: var(--surface1);
  border: 2px solid var(--surface2);
  border-radius: 10px;

  padding: 1%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}
